body{
    background-color: #25282A;
}

.main{
    margin: 0 auto;
    max-width: 700px;
    padding-left: 20px;
    padding-right: 20px;
}

.slider{
    margin-top: 50px;
    overflow: hidden;
}

.slider-all{
    display: flex;
    transition: 0.4s;
}

.footer{
    display: flex;
    margin-top: -35px;
}

.footer-text{
    flex-grow: 1;
}

.slider-all-item{
    border-radius: 15px;
}
.footer-navigation{
    display: flex;
    z-index: 1;
    background-color: #25282A;
}

.footer-navigation-button{
    width: 20px;
    height: 20px;
}

.footer-navigation-button:hover .footer-navigation-button-circle{
    border-color: white;
    background-color: white;
}

.footer-navigation-button:hover .footer-navigation-button-circle1{
    border-color: white;
}

.footer-navigation-button-circle{
    width: 10px;
    height: 10px;
    border: 1px solid #74A2E4;
    background-color:  #74A2E4;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 3px;
}

.footer-navigation-button-circle1{
    width: 10px;
    height: 10px;
    border: 1px solid #74A2E4;
    background-color:  #25282A;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 3px;
}

.meme-text{
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}

@media screen and (max-width: 750px){
    .footer{
        display: grid;
    }

    .footer-navigation{
        justify-content: center;
        z-index: 1;
        margin-top: -20px;
    }

    .meme-text{
        margin-top: 40px;
    }
}
